html,body {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.hero.is-success {
    background-image: url('/img/elma.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: black;
}

.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.login-hr {
    border-bottom: 1px solid pink;
}

h1 {
    margin-top: 0%;
    text-align: center;
}

h2 {
    margin-top: 4%;
    text-align: center;
    color: blue;
}

.button {
    font-size: 2px;
    color: black;
    border: none;
}

table {
    border-collapse: collapse;
    width: auto;
    background-color:white;
    margin-top: 0%;
}

th {
    border: 1px solid black;
    padding: 6px;
    text-align: left;
}

td {
    border: 1px solid black;
    padding: 6px;
    text-align: left;
}

